.switch-form-message {
    margin-top: 2em;
}

.switch-form-message a {
    margin-left: 0.3em;
    color: #2196f3;
}

.error-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.error-message {
    position: absolute;
    top: 15px;
    font-weight: 700;
    color: red;
    display: none;
}
